<mat-card>

  <mat-toolbar color="primary">
    <span>Funcionários</span>
    <span style="flex: 1 1 auto;"></span>
    <button mat-raised-button [routerLink]="['cadastrar']">Cadastrar Funcionário</button>
  </mat-toolbar>

    <div *ngIf="funcionarios$ | async as funcionarios; else loading">
      <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8" aria-describedby="tabela de funcionarios">

        <!-- Coluna Nome -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.name}} </td>
        </ng-container>

        <!-- Coluna CPF -->
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.cpf}} </td>
        </ng-container>

        <!-- Coluna telefone -->
        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef> Telefone </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.telefone}} </td>
        </ng-container>

        <!-- Coluna cargo nome -->
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef> Cargo </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.cargo.nomeCargo}} </td>
        </ng-container>

        <ng-container matColumnDef="setor">
          <th mat-header-cell *matHeaderCellDef> Setor </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.cargo.setor}} </td>
        </ng-container>

        <!-- Coluna salario -->
        <ng-container matColumnDef="salario">
          <th mat-header-cell *matHeaderCellDef> Salario </th>
          <td mat-cell *matCellDef="let funcionario"> R$ {{funcionario.salario}},00 </td>
        </ng-container>

        <!-- Coluna Data de Admissão -->
        <ng-container matColumnDef="dtaFuncionario">
          <th mat-header-cell *matHeaderCellDef> Data de Admissão </th>
          <td mat-cell *matCellDef="let funcionario"> {{funcionario.dtaFuncionario}} </td>
        </ng-container>

        <!-- Coluna Ações -->
        <ng-container matColumnDef="actions">
          <th class="w th-center" mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let funcionario">
            <button mat-icon-button color="primary" (click)="onEdit(funcionario.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="onRemove(funcionario)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
</mat-card>
